<!DOCTYPE html>
<html>
<head>
    <title><%= article.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

</head>
<body>
<div class="card">
    <h1><%= article.title %></h1>
    <p><%= article.author %></p>
    <p><%= article.content %></p>
    <p><%= article.date %></p>
    <a class="back-button" href="/articles">Назад к статьям</a>
</div>
</body>
</html>
